.lcontainer {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%; 
    background-color: white;
    padding: 25px;
  }
  
  .lheader, .lsub-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
  }
  
  .lpolicy {
    color: grey;
    font-size: 16px;
    font-weight: 500;
  }
  
  @media (max-width: 600px) {
    .lcontainer {
      width: 90%; 
      margin-left: auto;
      margin-right: auto;
    }
  
    .lheader, .lsub-heading {
      font-size: 18px; 
    }
  }