.lcontainer{
    /* z-index: 1000; */
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    width: 600px;
    background-color: white;
    padding-bottom: 30px;
    padding: 25px;
    margin-left: 150px; 
    margin-top: 70px;
}

.lheader{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}


.lsub-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
    color:black;
    font-size: 21px;
    font-weight: 500;
}

.lpolicy {
    color: grey;
    font-size: 16px;
    font-weight: 500;
}