.lcontainer{
    /* z-index: 1000; */
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    width: 600px;
    background-color: white;
    padding-bottom: 30px;
    padding: 25px;
    margin-left: 150px; 
    margin-top: 70px;
}

<<<<<<< HEAD

.landingheader{
=======
.lheader{
>>>>>>> 346f98d22cfe9136a161c9785afddb192476b202
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
<<<<<<< HEAD
    width: 100%;;
    margin-top: 30px;
}
=======
    width: 100%;
    margin-top: 30px;
}
>>>>>>> 346f98d22cfe9136a161c9785afddb192476b202
