.App {
  text-align: center;
  width: 500px;
  height: 450px;
  /* width: 100%;
  height: 100%; */
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) opx 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  margin-top: 70px;
  margin-left: 70px;
  
}

/* .rbc-btn-group{
  width: 250px;
  height: 30px;
  margin: 10px;
  background-color: cornflowerblue;
  color: white;
  cursor: pointer;
} */
